extends layout

block title
	div.indextitleLocation(onclick="javascript:location.href='/'")
		img.phylovizImage(src = '/images/logo.png')
		label.title #{title}

block login
	div(id="indexuserLocation")
		p API

block API
	div.apiBody
		p Upload data
		p This service allows you to upload files to your user area by interacting with the application's REST API.
		p Because the data upload is a combination of different steps, we have developed a Phyton program to indirectly interact with the REST API. The code can be found 
			a(href='//github.com/bfrgoncalves/Online-PhyloViZ/tree/postgres_version/remote_upload') here
		br
		label Usage:
		div(style="border-bottom: 2px solid black; width: 70%")  
			p python remoteUpload.py -u 'username' -p 'pass' -sdt profile -sd 'sampleAPfile.txt' -d 'test'
			p Uploads the 'sampleAPfile.txt' profile data to the user area of 'username'



block scripts
	script(type='text/javascript', src='/javascripts/dependencies/jquery-2.1.3.min.js')
	script(type='text/javascript', src='/javascripts/dependencies/jquery.form.js')
	script(type='text/javascript', src='/javascripts/dependencies/jquery-ui.min.js')
	script(type='text/javascript', src='/javascripts/dependencies/bootstrap.js')
	script(type='text/javascript', src='/javascripts/dependencies/bootstrap-select.js')
	script(type='text/javascript', src='/javascripts/dependencies/datatables.min.js')
	script(type='text/javascript', src='/javascripts/dependencies/jquery.dataTables.js')
	script(type='text/javascript', src='/javascripts/App/adjustElements/adjustElementsAPI.js')