extends layout

block title
	div.titleLocation(onclick="javascript:location.href='/'")
		div.float_title
			img.phylovizImage(src = '/images/logo.png')
			label.title #{title}

block API
	div.apiTitle
		h3 API 
	div.apiBody
		p goeBURST algorithm
		p This service lets you get the graph links for a given dataset based on the
			= " "
			a(href="http://www.biomedcentral.com/1471-2105/10/152") goeBURST algorithm
			= " "
			| (Francisco AP, et.al).
		br
		label Methods supported: 
		div GET 
		br
		label URL:
		div /api/algorithms/goeBURST
		br
		label Example:
		div 
			/api/algorithms/goeBURST?dataset_id='test'
			p Gets the results for the dataset with the name 'test'.



block scripts
	script(type='text/javascript', src='/javascripts/dependencies/jquery-2.1.3.min.js')
	script(type='text/javascript', src='/javascripts/dependencies/jquery.form.js')
	script(type='text/javascript', src='/javascripts/dependencies/jquery-ui.min.js')
	script(type='text/javascript', src='/javascripts/dependencies/bootstrap.js')
	script(type='text/javascript', src='/javascripts/dependencies/bootstrap-select.js')
	script(type='text/javascript', src='/javascripts/dependencies/datatables.min.js')
	script(type='text/javascript', src='/javascripts/dependencies/jquery.dataTables.js')
	script(type='text/javascript', src='/javascripts/App/adjustElements/adjustElementsAPI.js')