extends layout

block title
	div.indextitleLocation(onclick="javascript:location.href='/'")
		img.phylovizImage(src = '/images/logo.png')
		label.title #{title}

block login
	div(id="indexuserLocation")
		p API

block API
	div.apiBody
		p PHYLOViZ input
		p This service lets you get the phyloviz input JSON object for a given dataset.
		label NOTE: Without login in the application, only public datasets will be available.
		br
		br
		label Methods supported: 
		div GET 
		br
		label URL:
		div /api/utils/phylovizInput
		br
		label Example:
		div(style="border-bottom: 2px solid black; width: 70%") 
			p http://node.phyloviz.net/api/utils/phylovizInput?dataset_id=cfa81215a2ce3fd3c8cb31c51964ba53f005fa9d8c06fa2ade5512c4d7151b1ff0
			p Gets the results for the dataset with the id above (Acinetobacter baumannii).




block scripts
	script(type='text/javascript', src='/javascripts/dependencies/jquery-2.1.3.min.js')
	script(type='text/javascript', src='/javascripts/dependencies/jquery.form.js')
	script(type='text/javascript', src='/javascripts/dependencies/jquery-ui.min.js')
	script(type='text/javascript', src='/javascripts/dependencies/bootstrap.js')
	script(type='text/javascript', src='/javascripts/dependencies/bootstrap-select.js')
	script(type='text/javascript', src='/javascripts/dependencies/datatables.min.js')
	script(type='text/javascript', src='/javascripts/dependencies/jquery.dataTables.js')
	script(type='text/javascript', src='/javascripts/App/adjustElements/adjustElementsAPI.js')