extends layout

block title
	div.indextitleLocation(onclick="javascript:location.href='/'")
		img.phylovizImage(src = '/images/logo.png')
		label.title #{title}

block login
	div(id="indexuserLocation")
		p API

block API
	div.apiBody
		p Table data
		p This service lets you get profile data or metadata of a given dataset to be used on tables. Results are given in an array with the different rows and with the headers.
		br
		label Methods supported: 
		div GET 
		br
		label URL:
		div /api/utils/tableData?dataset_id=[datasetID] & parameter=[isolates|profiles]
		br
		label Example:
		div(style="border-bottom: 2px solid black; width: 70%")  
			p https://node.phyloviz.net/api/utils/tableData?dataset_id=cfa81215a2ce3fd3c8cb31c51964ba53f005fa9d8c06fa2ade5512c4d7151b1ff0 & parameter=isolates
			p Gets the isolate data for the "Acinetobacter baumannii" dataset.



block scripts
	script(type='text/javascript', src='/javascripts/dependencies/jquery-2.1.3.min.js')
	script(type='text/javascript', src='/javascripts/dependencies/jquery.form.js')
	script(type='text/javascript', src='/javascripts/dependencies/jquery-ui.min.js')
	script(type='text/javascript', src='/javascripts/dependencies/bootstrap.js')
	script(type='text/javascript', src='/javascripts/dependencies/bootstrap-select.js')
	script(type='text/javascript', src='/javascripts/dependencies/datatables.min.js')
	script(type='text/javascript', src='/javascripts/dependencies/jquery.dataTables.js')
	script(type='text/javascript', src='/javascripts/App/adjustElements/adjustElementsAPI.js')