extends layout

block title
	div.titleLocation(onclick="javascript:location.href='/'")
		div.float_title
			img.phylovizImage(src = '/images/logo.png')
			label.title #{title}

block API
	div.apiTitle
		h3 API 
	div.apiBody
		p PHYLOViZ input
		p This service lets you get the phyloviz input JSON object for a given dataset.
		label NOTE: Without login in the application, only public datasets will be available.
		br
		br
		label Methods supported: 
		div GET 
		br
		label URL:
		div /api/utils/phylovizInput
		br
		label Example:
		div 
			/api/utils/phylovizInput?dataset_id='test'
			p Gets the results for the dataset with the name 'test'.




block scripts
	script(type='text/javascript', src='/javascripts/dependencies/jquery-2.1.3.min.js')
	script(type='text/javascript', src='/javascripts/dependencies/jquery.form.js')
	script(type='text/javascript', src='/javascripts/dependencies/jquery-ui.min.js')
	script(type='text/javascript', src='/javascripts/dependencies/bootstrap.js')
	script(type='text/javascript', src='/javascripts/dependencies/bootstrap-select.js')
	script(type='text/javascript', src='/javascripts/dependencies/datatables.min.js')
	script(type='text/javascript', src='/javascripts/dependencies/jquery.dataTables.js')
	script(type='text/javascript', src='/javascripts/App/adjustElements/adjustElementsAPI.js')