extends layout

block title
	div.indextitleLocation(onclick="javascript:location.href='/'")
		img.phylovizImage(src = '/images/logo.png')
		label.title #{title}

block login
	div(id="indexuserLocation")
		p API

block API
	div.apiBody
		p goeBURST algorithm
		p This service lets you get the graph links for a given dataset based on the
			= " "
			a(href="http://www.biomedcentral.com/1471-2105/10/152") goeBURST algorithm
			= " "
			| (Francisco AP, et.al).
		br
		label Methods supported: 
		div GET 
		br
		label URL:
		div /api/algorithms/goeBURST
		br
		label Example:
		div(style="border-bottom: 2px solid black; width: 70%") 
			p https://node.phyloviz.net/api/algorithms/goeBURST?dataset_id=cfa81215a2ce3fd3c8cb31c51964ba53f005fa9d8c06fa2ade5512c4d7151b1ff0
			p Gets the results for the dataset with the id above (Acinetobacter baumannii)



block scripts
	script(type='text/javascript', src='/javascripts/dependencies/jquery-2.1.3.min.js')
	script(type='text/javascript', src='/javascripts/dependencies/jquery.form.js')
	script(type='text/javascript', src='/javascripts/dependencies/jquery-ui.min.js')
	script(type='text/javascript', src='/javascripts/dependencies/bootstrap.js')
	script(type='text/javascript', src='/javascripts/dependencies/bootstrap-select.js')
	script(type='text/javascript', src='/javascripts/dependencies/datatables.min.js')
	script(type='text/javascript', src='/javascripts/dependencies/jquery.dataTables.js')
	script(type='text/javascript', src='/javascripts/App/adjustElements/adjustElementsAPI.js')