extends layout


block login
	div.user_info
		if (!user)
			a(href="/users/login") Login
			= '	'
			a(href="/users/register") Register
		if (user)
			p.login You are logged in as #{user.name}
				= ' '
				a(href="/users/logout") Logout

block title
	div.titleLocation(onclick="javascript:location.href='/'")
		div.float_title
			img.phylovizImage(src = '/images/logo.png')
			label.title #{title}

block API
	div(id='APIbodyRegion')
		p Welcome



block scripts
	script(type='text/javascript', src='/javascripts/dependencies/jquery-2.1.3.min.js')
	script(type='text/javascript', src='/javascripts/dependencies/jquery.form.js')
	script(type='text/javascript', src='/javascripts/dependencies/jquery-ui.min.js')
	script(type='text/javascript', src='/javascripts/dependencies/bootstrap.js')
	script(type='text/javascript', src='/javascripts/dependencies/bootstrap-select.js')
	script(type='text/javascript', src='/javascripts/dependencies/datatables.min.js')
	script(type='text/javascript', src='/javascripts/dependencies/jquery.dataTables.js')
	script(type='text/javascript', src='/javascripts/App/adjustElements/adjustElementsAPI.js')