<!-- Fixed navbar -->
nav.navbar.navbar-default.navbar-fixed-top(style="background-color:rgba(0, 0, 0, 0);z-index:-1;")
  div.container
    div.navbar-header
      button.navbar-toggle.collapsed(type="button",data-toggle="collapse",data-target="#navbar",aria-expanded="false",aria-controls="navbar")
        span.sr-only Toggle navigation
        span.icon-bar
        span.icon-bar
        span.icon-bar
      a.navbar-brand(href="/") #{title}
    div.navbar-collapse.collapse(id="navbar")
      ul.nav.navbar-nav
        li
          a(id="buttonHelp", style="width: 100%", data-toggle="offcanvas") Help
      ul.nav.navbar-nav.navbar-right
        if (!user)
          li
            a(href="/users/login") Login
          li
            a(href="/users/register") Register
        if (user)
          li
            a Welcome, #{user.name}! 
          li
            a(href="/users/logout") Logout

