extends layout

block normalBody

	div.navbar.navbar-static-top(id='navbarWebgl')
		div.navbar-header
			h1.navbar-brand(onclick="javascript:location.href='./'") #{title}

	div.col-lg-2(id="col_webgl")
		ul.nav.nav-stacked
			li
				div
					form(id='searchForm')
						div.input-group
							input.form-control(type='text' id='nodeid' style='color:black' placehorder="Search")
							span.input-group-btn
								button.btn.btn-default(type='submit') Search
					br
					h5(id='numberOfNodes') Number of nodes: 
			li
				div
					a.btn.btn-primary.actionButton(data-toggle='collapse', href='#collapseColor', aria-expanded="false", aria-controls="collapseExample") Assign Colors
					div.collapse(id='collapseColor')
						a.btn.btn-primary.actionButton(data-toggle='collapse', href='#SchemeColor', aria-expanded="false", aria-controls="collapseExample") By Scheme
						div.collapse(id='SchemeColor')
							div.well(id='colorAttributesScheme')
						a.btn.btn-primary.actionButton(data-toggle='collapse', href='#MetadataColor', aria-expanded="false", aria-controls="collapseExample") By Isolate
						div.collapse(id='MetadataColor')
							div.well(id='colorAttributesMetadata')

	div(id='processingElement')

	div(id='visual',oncontextmenu='return false;')
		div.graph-overlay

	div(id='toggleLayout')
		i.glyphicon.glyphicon-pause(id='iconPauseLayout') 
		i(id='pauseLayout') Pause Layout

	

block scripts
	script(type='text/javascript').
		var compute = !{JSON.stringify(precompute)};
	script(type='text/javascript', src='/javascripts/d3.min.js')
	script(type='text/javascript', src="/javascripts/pathgl-gh-pages/dist/pathgl.js")
	script(type='text/javascript', src="/javascripts/Three.js")
	script(type='text/javascript', src='/javascripts/VivaGraphJS-master/dist/vivagraph.js')
	script(type='text/javascript', src='/javascripts/nv.d3.min.js')
	script(type='text/javascript', src='/javascripts/jquery-2.1.3.min.js')
	script(type='text/javascript', src='/javascripts/jquery-ui.min.js')
	script(type='text/javascript', src='/javascripts/bootstrap.js')
	script(type='text/javascript', src='/javascripts/bootstrap-select.js')
	script(type='text/javascript', src='/javascripts/WebGl/customNodeWebGl.js')
	script(type='text/javascript', src='/javascripts/WebGl/searchNodesWebGl.js')
	script(type='text/javascript', src='/javascripts/WebGl/multiSelectionWebGl.js')
	script(type='text/javascript', src='/javascripts/WebGl/assignColors_Webgl.js')
	script(type='text/javascript', src='/javascripts/WebGl/vivaG.js')
