extends layout

block normalBody

	div.navbar.navbar-static-top(id='navbarWebgl')
		div.navbar-header
			h1.navbar-brand(onclick="javascript:location.href='./'") #{title}

	div(style="color: white; z-index:2; margin: 10px; position: absolute;")
		form(id='searchForm') Search Node: 
			input(type='text' id='nodeid' style='color:black')
			input(type='submit' value='Search')

	div(id='visual',oncontextmenu='return false;')
		div.graph-overlay

	div(id='toggleLayout')
		i.glyphicon.glyphicon-pause(id='iconPauseLayout') 
		i(id='pauseLayout') Pause Layout

	

block scripts
	script(type='text/javascript', src='/javascripts/d3.min.js')
	script(type='text/javascript', src="/javascripts/pathgl-gh-pages/dist/pathgl.js")
	script(type='text/javascript', src="/javascripts/Three.js")
	script(type='text/javascript', src='/javascripts/VivaGraphJS-master/dist/vivagraph.js')
	script(type='text/javascript', src='/javascripts/nv.d3.min.js')
	script(type='text/javascript', src='/javascripts/jquery-2.1.3.min.js')
	script(type='text/javascript', src='/javascripts/jquery-ui.min.js')
	script(type='text/javascript', src='/javascripts/bootstrap.js')
	script(type='text/javascript', src='/javascripts/WebGl/customNodeWebGl.js')
	script(type='text/javascript', src='/javascripts/WebGl/searchNodesWebGl.js')
	script(type='text/javascript', src='/javascripts/WebGl/multiSelectionWebGl.js')
	script(type='text/javascript', src='/javascripts/WebGl/vivaG.js')
