extends layout

block normalBody

	div.navbar.navbar-static-top(id='navbarWebgl')
		div.navbar-header
			h1.navbar-brand(onclick="javascript:location.href='./'") #{title}

	div(id='visual',oncontextmenu='return false;')

	

block scripts
	script(type='text/javascript', src='http://d3js.org/d3.v3.min.js')
	script(type='text/javascript', src="/javascripts/pathgl-gh-pages/dist/pathgl.js")
	script(type='text/javascript', src="/javascripts/Three.js")
	script(type='text/javascript', src='/javascripts/VivaGraphJS-master/dist/vivagraph.js')
	script(type='text/javascript', src='/javascripts/nv.d3.min.js')
	script(type='text/javascript', src='http://code.jquery.com/jquery-2.1.3.min.js')
	script(type='text/javascript', src='http://code.jquery.com/ui/1.11.0/jquery-ui.min.js')
	script(type='text/javascript', src='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js')
	script(type='text/javascript', src="/javascripts/sigma.js-1.0.3/src/sigma.core.js")
	script(type='text/javascript', src="/javascripts/sigma.js-1.0.3/src/conrad.js")
	script(type='text/javascript', src="/javascripts/sigma.js-1.0.3/src/utils/sigma.utils.js")
	script(type='text/javascript', src="/javascripts/sigma.js-1.0.3/src/utils/sigma.polyfills.js")
	script(type='text/javascript', src="/javascripts/sigma.js-1.0.3/src/sigma.settings.js")
	script(type='text/javascript', src="/javascripts/sigma.js-1.0.3/src/classes/sigma.classes.dispatcher.js")
	script(type='text/javascript', src="/javascripts/sigma.js-1.0.3/src/classes/sigma.classes.configurable.js")
	script(type='text/javascript', src="/javascripts/sigma.js-1.0.3/src/classes/sigma.classes.graph.js")
	script(type='text/javascript', src="/javascripts/sigma.js-1.0.3/src/classes/sigma.classes.camera.js")
	script(type='text/javascript', src="/javascripts/sigma.js-1.0.3/src/classes/sigma.classes.quad.js")
	script(type='text/javascript', src="/javascripts/sigma.js-1.0.3/src/captors/sigma.captors.mouse.js")
	script(type='text/javascript', src="/javascripts/sigma.js-1.0.3/src/captors/sigma.captors.touch.js")
	script(type='text/javascript', src="/javascripts/sigma.js-1.0.3/src/renderers/sigma.renderers.canvas.js")
	script(type='text/javascript', src="/javascripts/sigma.js-1.0.3/src/renderers/sigma.renderers.webgl.js")
	script(type='text/javascript', src="/javascripts/sigma.js-1.0.3/src/renderers/sigma.renderers.def.js")
	script(type='text/javascript', src="/javascripts/sigma.js-1.0.3/src/renderers/webgl/sigma.webgl.nodes.def.js")
	script(type='text/javascript', src="/javascripts/sigma.js-1.0.3/src/renderers/webgl/sigma.webgl.nodes.fast.js")
	script(type='text/javascript', src="/javascripts/sigma.js-1.0.3/src/renderers/webgl/sigma.webgl.edges.def.js")
	script(type='text/javascript', src="/javascripts/sigma.js-1.0.3/src/renderers/webgl/sigma.webgl.edges.fast.js")
	script(type='text/javascript', src="/javascripts/sigma.js-1.0.3/src/renderers/webgl/sigma.webgl.edges.arrow.js")
	script(type='text/javascript', src="/javascripts/sigma.js-1.0.3/src/renderers/canvas/sigma.canvas.labels.def.js")
	script(type='text/javascript', src="/javascripts/sigma.js-1.0.3/src/renderers/canvas/sigma.canvas.hovers.def.js")
	script(type='text/javascript', src="/javascripts/sigma.js-1.0.3/src/renderers/canvas/sigma.canvas.nodes.def.js")
	script(type='text/javascript', src="/javascripts/sigma.js-1.0.3/src/renderers/canvas/sigma.canvas.edges.def.js")
	script(type='text/javascript', src="/javascripts/sigma.js-1.0.3/src/renderers/canvas/sigma.canvas.edges.curve.js")
	script(type='text/javascript', src="/javascripts/sigma.js-1.0.3/src/renderers/canvas/sigma.canvas.edges.arrow.js")
	script(type='text/javascript', src="/javascripts/sigma.js-1.0.3/src/renderers/canvas/sigma.canvas.edges.curvedArrow.js")
	script(type='text/javascript', src="/javascripts/sigma.js-1.0.3/src/middlewares/sigma.middlewares.rescale.js")
	script(type='text/javascript', src="/javascripts/sigma.js-1.0.3/src/middlewares/sigma.middlewares.copy.js")
	script(type='text/javascript', src="/javascripts/sigma.js-1.0.3/src/misc/sigma.misc.animation.js")
	script(type='text/javascript', src="/javascripts/sigma.js-1.0.3/src/misc/sigma.misc.bindEvents.js")
	script(type='text/javascript', src="/javascripts/sigma.js-1.0.3/src/misc/sigma.misc.drawHovers.js")
	script(type='text/javascript', src="/javascripts/sigma.js-1.0.3/plugins/sigma.layout.forceAtlas2/supervisor.js")
	script(type='text/javascript', src="/javascripts/sigma.js-1.0.3/plugins/sigma.layout.forceAtlas2/worker.js")
	script(type='text/javascript', src='/javascripts/VivaGraphJS-master/dist/vivagraph.js')

	script(type='text/javascript', src='/javascripts/sigmaGraph.js')

