doctype html
html
	head
		title= title
		link(rel='stylesheet', href='/stylesheets/force_style.css')
		link(rel='stylesheet', href='/stylesheets/jquery-ui.css')
		link(rel='stylesheet', href='/stylesheets/nv.d3.min.css')
		link(rel='stylesheet', href='/stylesheets/bootstrap.css')
		link(rel='stylesheet', href='/stylesheets/style.css')
		link(rel='stylesheet', href='/stylesheets/bootstrap-select.css')
		link(rel='stylesheet', href='/stylesheets/jquery.dataTables.css')
		link(rel='stylesheet', href='/stylesheets/datatables.min.css')

		block moreStyle


	
	body
		div.globalContainer

			block login
			block title

			block API

			block sign

			block normalBody

				div(id='waiting')

	block scripts


