doctype html
html
	head
		title= title
		link(rel='stylesheet', href='/stylesheets/force_style.css')
		link(rel='stylesheet', href='http://code.jquery.com/ui/1.11.0/themes/smoothness/jquery-ui.css')
		link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css')
		link(rel='stylesheet', href='/stylesheets/nv.d3.min.css')
		link(rel='stylesheet', href='/stylesheets/style.css')

		block moreStyle
		
	body
		block normalBody
			div(id='global')
				div(id="contextMenu")

				div.col-lg-12(id="col_navbar")
					block navbar

				div.col-lg-2(id="col_toolbar")
					nav.navbar-default(role='navigation')
						block actions

				div.col-lg-8(id="col_visual")
					block visualization

				div.col-lg-2(id="col_actions")
					nav.navbar-default(role='navigation')
						block toolBar

				div(id="modals")
					block modals

			div(id='waiting')

	block scripts

