extends layout

block navbar
  include fixed_navbar_login

block sign
  div.bodyContainer
    div(id='sign')
      h3 Login Page
      p Insert your username and password.
      br
      form(role='form', id= 'submitForm', action="", method="post", style='max-width: 300px;')
        .form-group
            input.form-control(type='text', name="username", placeholder='Enter Username', required)
        .form-group
          input.form-control(id ='pass' type='password', name="password", placeholder='Password', required)
        a(href='/users/forgotpass') Forgot your password?
        br
        br
        button.btn.btn-default.resizable_button_submit(id="submitButton", type='submit') Submit
        &nbsp;
        a(href='/')
          button.btn.btn-primary.resizable_button_submit(id="cancel", type="button") Cancel
      br
      h4 #{message}

block scripts
  script(type='text/javascript', src='/javascripts/dependencies/jquery-2.1.3.min.js')
  script(type='text/javascript', src='/javascripts/dependencies/sha256.js')
  script(type='text/javascript', src='/javascripts/App/indexApp/encryption.js')
  script(type='text/javascript', src='/javascripts/App/adjustElements/adjustElementsLogin.js')