extends layout

div.indexNav
  block title
    div.indextitleLocation(onclick="javascript:location.href='/'")
      img.phylovizImage(src = '/images/logo.png')
      label.title #{title}

  block login
    div(id="indexuserLocation")
      if (!user)
        a(href="/users/login") Login
        = ' '
        a(href="/users/register") Register
      if (user)
        p Welcome, #{user.name}! 
          = ' '
          a(href="/users/logout") Logout

block sign
  div.bodyContainer
    div(id='sign')
      h3 Register Page
      p Choose an username and password.
      br
      form(role='form', id = 'submitForm', action="/users/register",method="post", style='max-width: 300px;')
        .form-group
            input.form-control(type='email', name="email", placeholder='Enter E-mail', required)
        .form-group
            input.form-control(type='text', name="username", placeholder='Enter Username', required)
        .form-group
          input.form-control(id = 'pass' type='password', name="password", placeholder='Password', required)
        button.btn.btn-default.resizable_button_submit(id="submitButton", type='submit') Submit
        &nbsp;
        a(href='/')
          button.btn.btn-primary.resizable_button_submit(id="cancel", type="button") Cancel
      br
      h4 #{message}

block scripts
  script(type='text/javascript', src='/javascripts/dependencies/jquery-2.1.3.min.js')
  script(type='text/javascript', src='/javascripts/dependencies/sha256.js')
  script(type='text/javascript', src='/javascripts/App/indexApp/encryption.js')
  script(type='text/javascript', src='/javascripts/App/adjustElements/adjustElementsLogin.js')