
body {
  padding: 20px;
  font: 16px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-color: white;
  margin:0 auto;
}

a {
  color: #00B7FF;
}

#buttonExistingDatasets{
  margin: 0 10px 0 10px;
}

#divDeleteDataset{
  position:absolute;
  left: 92%;
}

.phylovizNavbar{
	background-color: white;
  border-bottom: 2px black solid;
}

.actionButton{
	width:100%;
	background-color: grey;
}

.node text {
  font: 9px helvetica;
}

.modal {
	background-color: white;
   width: 50%;
   height: 50%;
   position: absolute;
   left: 50%;
   top: 50%; 
   margin-left: -25%;
   margin-top: -25%;
}

.dropNameNodes{
	text-align: center;
}

.footerDiv{
  left: 50%;
  top: 100%;
  width:500px;
  height:200px;
  position: absolute;
  margin:-10% 0 0 -12%;
  text-align:center;
}


#waitingGifMain{
  position: absolute;
  z-index:2;
  top: 40%;
  left: 48%;
}

#statusMain{
  position: absolute;
  z-index:2;
  top: 53%;
  left: 47.5%;
}

.nav-tabs > li, .nav-pills > li {
    float:none;
    display:inline-block;
    *display:inline; /* ie7 fix */
     zoom:1; /* hasLayout ie7 trigger */
}

.nav-tabs, .nav-pills {
    text-align:center;
}


.pieRegion {text-align:center;}

#pieisolates {display:inline-block;}
#divbuttonlinkpieisolates {display:inline-block;}

#divisolates{
  width: 100%;
  overflow-x: auto;
}

#divprofiles{
  width: 100%;
  overflow-x: auto;
}

#legendpieisolates {
  width: 200px;
  overflow-y: auto;
  overflow-x: auto;
  display:inline-block;
}

#legendcurrentpiePlace {
  width: 200px;
  overflow-y: auto;
  overflow-x: auto;
  display:inline-block;
}

#pieprofiles {display:inline-block;}
#divbuttonlinkpieprofiles {display:inline-block;}

#legendpieprofiles {
  width: 200px;
  overflow-y: auto;
  overflow-x: auto;
  display:inline-block;
}
#SVpieprofiles {margin-left:auto; margin-right:auto; display:block;}

#userRegion{
  left: 80%;
  top: 5%;
  width:10%;
  height:10%;
  position: absolute;
}

#sign{
  left: 40%;
  top: 25%;
  width:35%;
  height:10%;
  position: absolute;
}


#inputDiv {
  left: 38%;
  top: 40%;
  width:50%;
  height:200px;
  position: absolute;
  margin:-10% 0 0 -12%;
  text-align: center;
}


#col_visual{
	border: 4px solid;
	border-color: black;
}

#col_actions{
	padding: 30px;
	text-align: right;
  position: absolute;
  top: 15%;
  left: 82%; 
}

#col_toolbar{
	padding: 30px;
	text-align: left;
  position: absolute;
  top: 15%; 
}

#col_webgl{
  padding: 30px;
  text-align: left;
  position: absolute;
  top: 10%; 
  z-index: 2;
}

#divButtonLegend{
  position: absolute;
  width: 10%;
  top: 13.5%;
  left: 82.5%; 
  display:none;
  z-index: 2;
}

#divButtonInfo{
  position: absolute;
  width: 10%;
  top: 86%;
  left: 18%; 
  z-index: 2;
}


#col_info{
  padding: 30px;
  text-align: center;
  position: absolute;
  top: 13%;
  left: 82%; 
  height: 40%;
  border-radius: 10px;
  border: 2px solid black;
  background-color:white;
  z-index: 1;
  display:none;

}

#col_information{
  height:10%;
  position: absolute;
  top: 88%;
  left: 17%; 
  background-color: white;
  z-index: 2;
  overflow-y: auto;
  overflow-x: auto;
}

#info_place{
  width:95%;
  height:100%;
  position:absolute;
  overflow-y: auto;
  overflow-x: auto;
  border-radius: 10px;
  border: 2px solid black;
}

#currentpiePlace {display:inline-block;}


.graph-overlay {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  display: none;
}
.graph-selection-indicator {
  position: absolute;
  background: transparent;
  border: 1px solid orange;
}


#toggleLayout { margin-left: 30%; cursor: pointer; font-size: 15px; color: black;}

#toggleLayoutSVG { position: absolute; bottom: 3%; margin-left: 50%; cursor: pointer; font-size: 15px; color: black;}


#visual{
  position: relative;
}

#processingElement{
  margin-left: 45%;
  margin-top: 20%;
  position: absolute;
  z-index:2;
  text-align: center;
}


    
    