
html{
  padding-top: 1%;
  padding-left: 1%;
  padding-right: 1%;
}
body {
  position: relative;
  background-color: white;
  width: 100%;
  height: 100%;
  min-width:600px;
  opacity: 0;
}


a {
  color: #00B7FF;
}


.statCounter {
    position: fixed;
    bottom: 10%;
    left: 0%;
    width: 5%;
}

#firefoxversionInfo{
  width: 50%;
  height: 50%;
}

#globalContainer{
  width: 100%;
  height: 100%;
}

#APIbodyRegion{
  width:100%;
  height: 90%;
  margin-top: 5%;
}

#imageDiv {
  position: fixed;
  bottom: 0px;
  right: 0px;
  width: 50%;
  height: 50%;
}

.phylovizImage{
  width: 4%;
  height: auto; 
}

.phylovizImageHome{
  width: 10%;
  height: auto; 
}

#testDatasetDiv{
  font-size: 110%;
}

#testUserDiv{
  font-size: 110%;
}

/*#buttonExistingDatasets{
  width: 30%;
}

#buttonUploadDatasets{
  width: 30%;
  left:50%;
}*/

#uploadDiv{
  width: 50%;
  margin-left: 25%;
}


#inputButtons{
  display: none;
}

#divDeleteDataset{
  width: 100%;
}

.bodyContainer{
  border-top: 2px solid black;
}

.user_info {
  position:absolute;
  top: 1%;
  right: 0%;
  float:right;
  z-index: 2;
}

.titleLocation {
  position: absolute;
  top: 0%;
  left: 0%;
  width: 20%;
  z-index: 2;
}

.indextitleLocation {
  top: 0%;
  left: 0%;
  width: 40%;
}

#indexuserLocation {
  right:0%;
  top:0%;
  position: absolute;
}

.apiTitle{
  border-bottom: 2px solid black;
}

.apiBody{
  margin-top: 2%;
}

.float_title{
  width:100%;
  float: left;
}

.actionButton{
	width:100%;
	background-color: #6497b1;
}

.datasetInfoButton{
  width:100%;
}
.submenu{
  background-color: #e89d48;
}

.submenu:hover{
  background-color: #b36a20;
}

.node text {
  font: 9px helvetica;
}

.tab_Region{
  height: 90%;
  position: relative;
}

#waitingGifMain{
  position: absolute;
  z-index:2;
  width: 30%;
  top: 40%;
  left: 45%;
}

#numberOfNodes{
  font-size: 120%;
}

#datasetNameDiv{
  font-size: 120%;
}

#countProfileSize{
  font-size: 120%;
}

#countSelectedNodes{
  font-weight: bold;
  float: left;
  width:100%;
  margin:3%;
}

#matrixTableInfo{
  font-weight: bold;
  float: left;
  width:100%;
}


.waitingImage{
  height: auto;
}

#statusMain{
  position: relative;
  z-index:2;
  margin-left: 5%;
  font-weight: bold;
}

#status{
  position: absolute;
  z-index:2;
  left: 41.5%;
  top: 80%;
  font-weight: bold;
}

.nav-tabs > li, .nav-pills > li {
    float:none;
    display:inline-block;
    *display:inline; /* ie7 fix */
     zoom:1; /* hasLayout ie7 trigger */
}

.nav-tabs, .nav-pills {
    text-align:center;
}


.pieRegion {text-align:center;}

#pieisolates {display:inline-block;}
#divbuttonlinkpieisolates {display:inline-block;}

#isolateContent{
  margin-top: 2%;
}

#FASTAContent{
  margin-top: 2%;
}

#divisolates{
  margin-top: 4%;
  width: 100%;
  overflow-x: auto;
}

#divprofiles{
  margin-top: 4%;
  width: 100%;
  overflow-x: auto;
}

#FASTALocation{
  margin-top: 4%;
  width: 100%;
  overflow-x: auto;
}

#tableisolates, #tableprofiles, #tabledistances{
  cursor: pointer;
}

#tableisolates thead tr th{
  border: 1px solid black;
}

#tableprofiles thead tr th{
  border: 1px solid black;
}

#tabledistances thead tr th{
  border: 1px solid black;
}

thead tr th.doHover:hover{
  background-color: #6497b1;
}

td.highlight {
    background-color: #d2eaec;
}

#legendpieisolates {
  width: 200px;
  overflow-y: auto;
  overflow-x: auto;
  display:inline-block;
}

#legendcurrentpiePlace {
  width: 90%;
  overflow-y:auto;
  overflow-x:auto;
  display:inline-block;
}

#pieprofiles {display:inline-block;}
#divbuttonlinkpieprofiles {display:inline-block;}

#legendpieprofiles {
  width: 200px;
  overflow-y: auto;
  overflow-x: auto;
  display:inline-block;
}
#SVpieprofiles {margin-left:auto; margin-right:auto; display:block;}

#header_container{
  width:100%;
  position: fixed;
  top: 0;
  background-color: 'white';
}

#home_container{
  width:100%;
  height: 100%;
  margin-top: 10%;
  overflow-y: auto;
}

#userLocation{
  position:fixed;
  top: 1%;
  right: 0%;
  font-size: 100%; 
}

#sign{
  position: absolute;
  width:100%;
  height:10%;
  left: 30%;
}


#inputDiv {
  margin-left: 17.5%;
  width: 60%;
  height: 90%;
  margin-top: 3%;
  position:fixed;
  text-align: center;
  overflow-y:auto;
}

#homeDiv{
  width:100%;
  height: 80%;
}


.tutorialDiv{
  margin: 3%;
}

.exampleTree{
  width: 70%;
  height: auto; 
}

#exampleTreeImage{
  width: 100%;
  text-align:center;
}

#phylovizDescription{
  width:100%;
  height: 40%;
}

.exampleMatrix{
  width: 25%;
  float: center;
  height: auto; 
}
.exampleNLV{
  width: 25%;
  float: right;
  height: auto; 
}

#col_tutorial{
  position:fixed;
  padding: 1%;
  top: 10%;
  right:1%;
  border-left: 1px solid;
  border-color: black;
  width: 17.5%;
  height: 90%;
  font-size:90%;
  overflow-y:auto;
  z-index:2;
}

#col_tutorial_main{
  position:fixed;
  padding: 1%;
  top: 10%;
  right:1%;
  border-left: 1px solid;
  border-color: black;
  width: 17%;
  height: 90%;
  z-index:3;
  font-size:90%;
  overflow-y:auto;
  background-color:white;
}

#divbuttonHelp{
  position:fixed;
  top: 7%;
  right:1%;
  width: 5%;
  height: 20%;
  z-index:2;
}

#updateMetadatDiv{
  position:fixed;
  top: 7%;
}

#col_visual{
	border: 4px solid;
	border-color: black;
}

#col_actions{
	padding: 30px;
	text-align: right;
  position: absolute;
  top: 15%;
  left: 82%; 
}

#col_toolbar{
	padding: 30px;
	text-align: left;
  position: absolute;
  top: 15%; 
}

#col_webgl{
  width:12%;
  height: 90%;
  text-align: left;
  position: absolute;
  top: 8%; 
  z-index: 2;
}

#col_index{
  width:15%;
  height:75%;
  text-align: left;
  position: fixed;
  top: 10%; 
  z-index: 2;
}

#divButtonLegend{
  position: absolute;
  top: 10%;
  right: 10.5%;
  display:none;
  z-index: 2;
}

#divButtonInfo{
  position: relative;
  float: right; 
  z-index: 2;
}

#divButtonClearInfo{
  position: relative;
  float: right; 
  z-index: 2;
}

select {
  width: 100%;
}

#firstContainer{
  width:100%;
  height: 70%;
}

#secondContainer{
  margin-top: 5%;
}


#divdistances{
  width: 100%;
  height: 55%;
  margin-top: 1%;
}

#distanceMatrix{
  width: 45%;
  height:100%;
  margin-left: 1%;
  margin-top: 1%;
  float: left;
}

#distanceUtils{
  width: 50%;
  height:100%;
  margin-top: 1%;
  float:right;
}

#divsvg{
  float:left;
  width: 50%;
  height: 50%;
}

#groupSVG{
  float: left;
  width: 33%;
  height: 30%;
  margin-left: 2%;
  margin-right: 2%;
  margin-top: 3%;
  overflow-x: auto;
}

#divCheckboxList{
  display:none;
  width: 33%;
  height: 27%;
  float:left;
  margin-top: 3%;
  margin-right: 2%;
}

#divClearDistances{
  display:none;
  width: 33%;
  height: 30%;
  float:left;
  margin-top: 3%;
}

#buttonExportMatrix{
  margin-top: 3%;
}

#divClearTable{
  margin-top: 5%;
  float: right;
  display:none;
}

#tableOver thead td{
  border: 2px solid black;
  margin: 5%;
}

#tableOver tbody td{
  border-bottom: 1px solid black;
  margin: 5%;
}

#labelcheckbox{
  vertical-align: middle;
}

#checkboxListContent{
  height: 100%;
  overflow-y: auto;
}


#col_info{
  text-align: center;
  position: absolute;
  top: 12%;
  right: 1%; 
  height: 40%;
  width: 15%;
  border-radius: 10px;
  border: 2px solid black;
  background-color:white;
  z-index: 1;
  display:none;

}

#col_information{
  height:20%;
  width: 65%;
  position: absolute;
  top: 78.5%;
  left: 17.5%; 
  background-color: white;
  z-index: 2;
}

#divButtonInfoOutside{
  position: absolute;
  display: none;
  bottom: 22%;
  z-index: 2;

}

#info_container{
  width: 100%;
  height: 100%;
  border-radius: 2%;
  border: 2px solid black;
}

#info_place{
  width:98%;
  height:99%;
  left: 1.5%;
  position:absolute;
  overflow-y: auto;
  overflow-x: auto;
}

#currentpiePlace {display:inline-block;}


.graph-overlay {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  display: none;
  z-index:2;
}
.graph-selection-indicator {
  position: absolute;
  background: transparent;
  border: 1px solid orange;
}


#toggleLayout { margin-left: 30%; cursor: pointer; font-size: 15px; color: black;}

#divReset { margin-left: 30%; cursor: pointer; font-size: 15px; color: black;}



#visual{
  position: relative;
}

#processingElement{
  margin-left: 45%;
  margin-top: 20%;
  position: absolute;
  z-index:2;
  text-align: center;
}

#top-link-block{
  position: fixed;
  bottom:2%;
  right:0%;
}

.subtitle{
  width:100%; 
  border-bottom: 3px solid black;
}

.tutorialParts{
  margin: 4%;
}

.tutorialParts h4{
  font-size: 200%;
}

.tutorialParts img{
  cursor: pointer;
}

.tutorialsubsections{
  margin: 2%;
  margin-bottom: 4%;
}

div.tutorialsubsections h5{
  color: #820d16;
  font-size: 150%;
  margin: 2%;
}

.subrow{
  text-align: center;
}

.othercolumns{
  padding: 2%;
  width:10%;
  text-align: center;
}

.tutorialcolumns{
  padding: 1.5%;
  width:20%;
  border-top: 2px solid black;
  border-right: 1px solid black;
  border-bottom: 2px solid black;
}   

.bodyText{
  margin-top: 2%;
  margin-bottom: 2%;
  font-size: 130%;
  text-align: justify;
}

.ui-dialog.success-dialog {
    font-size: 80%;
    background: white;
}




    