li
	h4 2.7 - Distance Matrix
	p Here you can find information about the distance matrix.
	br
	ul
		li
			div(id="compute")
				h5 Compute distances
		li
			div(id="order")
				h5 Order
		li
			div(id="select")
				h5 Select
		li
			div(id="exportmatrix")
				h5 Export


