p PHYLOViZ Online is a web application that provides a series of features regarding analysis and visualization of profile based typing methods. In this Tutorial you will find how to access and take advantage of those features by following the steps described below. In this tutorial, we will make use of MultiLocus Sequence Type (MLST) data from the following data set:
ul
	li
		a(href="/data/sampleAPfile.txt") Profile data
	li
		a(href="/data/sampleADfile.txt") Auxiliary data

p We will start by showing how users can access to public data or upload their own. Then we will give a tour on all the features and analysis that users can do with PHYLOViZ Online.