
li
	h4.subtitle 2.1.1 - Login
	p By default, the application allows unregistered users to upload their data. <b>This website is free and open to all users</b>. However, data is erased 24 hours past upload time. To prevent this from happening, PHYLOViZ Online offers an option to create an account so that users can store their own data sets for future use. 
	br
	ul
		li
			div.tutorialsubsections(id="steps")
				h5 Logging in
				table
					tr.subrow
						td.tutorialcolumns
							img(id="login1" href="/images/login1.png" style="width:60%; height: auto;" src="/images/login1.png")
						td.othercolumns
							<span class="glyphicon glyphicon-arrow-right"></span>
						td(style="text-align:justify")
							p The <b><i>Login/Register</i></b> buttons are located at the upper right side of the application's main page. This options will lead you to a <i>Login</i> page or to the <i>Registration</i> page.
					tr.subrow
						td.tutorialcolumns
							img(id="login2" href="/images/login2.png" style="width:60%; height:auto;" src="/images/login2.png")
						td.othercolumns
							<span class="glyphicon glyphicon-arrow-right"></span>
						td(style="text-align:justify")
							p If users already have an account, they can access to it by typing its <i>username</i> and <i>password</i>. After that, they will be redirected to the application's <i>index</i>. If users forgot their password, select the <b><i>"Forgot your password?"</b></i> option.
					tr.subrow
						td.tutorialcolumns
							img(id="login4" href="/images/login4.png" style="width:60%; height:auto;" src="/images/login4.png")
						td.othercolumns
							<span class="glyphicon glyphicon-arrow-right"></span>
						td(style="text-align:justify")
							p To register, simply select an <i>e-mail</i>, an <i>username</i> and a <i>password</i>. For each e-mail, only one account is allowed.
					tr.subrow
						td.tutorialcolumns
							img(id="login3" href="/images/login3.png" style="width:60%; height:auto;" src="/images/login3.png")
						td.othercolumns
							<span class="glyphicon glyphicon-arrow-right"></span>
						td(style="text-align:justify")
							p If users have an account but forgot their password, PHYLOViZ Online can <b>re-assign</b> a new password. Simple type your <i>username</i> and <i>e-mail</i>. After that, an e-mail will be sent with the new password.


