li
	h4 2.6 - Operations
	p Here you can find information regarding the operations that users can perform to modify the tree structure.
	br
	ul
		li
			div(id="nlv")
				h5 n Locus Variant (nLV)
		li
			div(id="treecut")
				h5 Tree cut-off

