li
	h4.subtitle 2.1.3 - Public data sets
	p PHYLOViZ Online allow users to share their own data sets by making them publicly available. Then, others can access to this data in the <i>Public data sets</i> available in the <b><i>Features</i></b> menu. When using public data sets, users can not modify but simply explore.
	br
	ul
		li
			div.tutorialsubsections(id="selectpublic")
				h5 Select public data sets
				table
					tr.subrow
						td.tutorialcolumns
							img(id="public1" href="/images/public1.png" style="width:60%; height: auto;" src="/images/public1.png")
						td.othercolumns
							<span class="glyphicon glyphicon-arrow-right"></span>
						td(style="text-align:justify")
							p To access to a public data set, first we need to click on the <i>Public datasets</i> at the <b><i>Features</i></b> menu.
					tr.subrow
						td.tutorialcolumns
							img(id="public2" href="/images/public2.png" style="width:60%; height:auto;" src="/images/public2.png")
						td.othercolumns
							<span class="glyphicon glyphicon-arrow-right"></span>
						td(style="text-align:justify")
							p Then we have all the publicly available data sets. You have information about its <i>name</i>, <i>owner</i>, and a <i>description</i>. Select one of them. In this case have selected the <b><i>sample Dataset</i></b>.
					tr.subrow
						td.tutorialcolumns
							img(id="launchTree2" href="/images/launchTree.png" style="width:60%; height:auto;" src="/images/launchTree.png")
						td.othercolumns
							<span class="glyphicon glyphicon-arrow-right"></span>
						td(style="text-align:justify")
							p After selecting a data set, we can now <b><i>Launch</i></b> the Tree.
		li
			div.tutorialsubsections(id="putpublic")
				h5 Make publicly available
				p Make your data set available to other users when <b><i><a href="#dataupload">uploading your files</a></i></b> or by creating a <b><i><a href="#sharable">sharable link</a></i></b>.


