li
	h4 2.4 - Visualization
	p Here you can find information about the tree visualization.
	br
	ul
		li
			div(id="assigncolors")
				h5 Assign Colors
		li
			div(id="graphicproperties")
				h5 Graphic Properties
		li
			div(id="selection")
				h5 Selection
		li
			div(id="search")
				h5 Search
		li
			div(id="exportvisual")
				h5 Export

