extends layout

block navbar
	div.navbar.navbar-static-top
		div.navbar-header
			h1.navbar-brand #{title}


block toolBar
	h1= title
	p Welcome to #{title}
	br

	p Upload a JSON file
	div
		input(id='addJSON')
		button(type='button', onclick='addJSON()') Upload


block visualization
	div(id='visual',oncontextmenu='return false;')

block actions
	ul.nav.nav-stacked
		li
			div(class='ui-widget')
					input(id='search')
					button(type='button', onclick='searchNode()') Search
		
		li
			div
				a.btn.btn-primary.actionButton(data-toggle='collapse', href='#collapseColor', aria-expanded="false", aria-controls="collapseExample") Assign Colors
				div.collapse(id='collapseColor')
					a.btn.btn-primary.actionButton(data-toggle='collapse', href='#SchemeColor', aria-expanded="false", aria-controls="collapseExample") By Scheme
					div.collapse(id='SchemeColor')
						div.well(id='colorAttributesScheme')
					a.btn.btn-primary.actionButton(data-toggle='collapse', href='#MetadataColor', aria-expanded="false", aria-controls="collapseExample") By Isolate
					div.collapse(id='MetadataColor')
						div.well(id='colorAttributesMetadata')

		li
			div
				a.btn.btn-primary.actionButton(data-toggle='collapse', href='#collapseNodeSize', aria-expanded="false", aria-controls="collapseExample") Change Node Size and Distance
				div.collapse(id='collapseNodeSize')
					div.well(id='SizeAttributes')
						label Node Sizes
						input(type='range',id='NodeSizeSlider', name='points1', value = 5, min='5', max='30', onchange='NodeSize(this.value)')
						label Link Thickness
						input(type='range',id='LinkThickSlider', name='points1', value = 1, min='1', max='30', onchange='ChangeLinkThickness(this.value)')
						label Label Sizes
						input(type='range',id='LabelSizeSlider', name='points1', value = 10, min='10', max='30', onchange='ChangeLabelSize(this.value)')
						label Link Distance
						input(type='range',id='LinkDistanceSlider', name='points2', value = 50, min='10', max='100', step='0.01', onchange='ChangeDistance(this.value)')

		li
			div
				a.btn.btn-primary.actionButton(data-toggle='collapse', href='#collapseLinkTresh', aria-expanded="false", aria-controls="collapseExample") Change Link Threshold and Charge
				div.collapse(id='collapseLinkTresh')
					div.well(id='LinkThresh')
						label Link threshold
						input(type='range',id='thersholdSlider', name='points3', value = 0, min='0', max='10', onchange='threshold(this.value)')
						label Charge
						input(type='range',id='ChargeSlider', name='points4', value = -300, min='-1000', max='100', onchange='ChangeCharge(this.value)')
						label Gravity
						input(type='range',id='GravitySlider', name='points5', value = 0.01, min='0.01', max='0.5', step='0.001', onchange='ChangeGravity(this.value)')
						label Link Strength
						input(type='range',id='LinkStrengthSlider', name='points6', value = 10, min='0', max='12', step='0.01', onchange='ChangeLinkStrength(this.value)')

		li
			div
				a.btn.btn-primary.actionButton(data-toggle='collapse', href='#collapseInfo', aria-expanded="false", aria-controls="collapseExample") View Information
				div.collapse(id='collapseInfo')
					div.well(id='InfoArea')

		li
			//div
				//input(type='checkbox', onclick='changeDragEvent(this)',id='ChangeDragMove')
				//label(id='labelDragEvent') Allow drag and drop nodes
			div
				input(type='checkbox', checked,onclick='ChangeTextOpacity(this)',id='ChangeOpacity')
				label(id='Labels') View labels


block modals
	div.modal.fade(id='mainModal',role="dialog" ,aria-labelledby="myModalLabel" ,aria-hidden="true")
		div.modal-header(id='headModal')
			button.close(type='button', data-dismiss='modal', aria-hidden='true') &times;
			h3 Modal header
		div.modal-body(id='bodyModal')
			p Body
		div.modal-footer(id='footModal')
			a.btn Close
			a.btn.btn-primary Save changes