doctype html
html
	head
		title= title
		link(rel='stylesheet', href='/stylesheets/force_style.css')
		link(rel='stylesheet', href='http://code.jquery.com/ui/1.11.0/themes/smoothness/jquery-ui.css')
		link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css')
		link(rel='stylesheet', href='/stylesheets/nv.d3.min.css')
		link(rel='stylesheet', href='/stylesheets/style.css')
	body
		div(id='global')
			div(id="contextMenu")

			div.col-lg-12(id="col_navbar")
				block navbar

			div.col-lg-2(id="col_toolbar")
				nav.navbar-default(role='navigation')
					block actions

			div.col-lg-8(id="col_visual")
				block visualization

			div.col-lg-2(id="col_actions")
				nav.navbar-default(role='navigation')
					block toolBar

			div(id="modals")
				block modals

		div(id='waiting')


	script(type='text/javascript', src='http://d3js.org/d3.v3.min.js')
	script(type='text/javascript', src='/javascripts/nv.d3.min.js')
	script(type='text/javascript', src='http://code.jquery.com/jquery-2.1.3.min.js')
	script(type='text/javascript', src='http://code.jquery.com/ui/1.11.0/jquery-ui.min.js')
	script(type='text/javascript', src='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js')
	script(type='text/javascript', src='http://bost.ocks.org/mike/fisheye/fisheye.js?0.0.3')
	script(type='text/javascript', src='/javascripts/fish_eye.js')
	script(type='text/javascript', src='/javascripts/search_nodes.js')
	script(type='text/javascript', src='/javascripts/highlight_nodes.js')
	script(type='text/javascript', src='/javascripts/colorAttributes.js')
	script(type='text/javascript', src='/javascripts/change_Visual_Properties.js')
	script(type='text/javascript', src='/javascripts/viewInfo.js')
	script(type='text/javascript', src='/javascripts/pie_generator.js')
	script(type='text/javascript', src='/javascripts/force_graph.js')
